# Avoid using long cells

- Long cells can make it harder to navigate and comprehend the code.
- Try to keep cell length in Jupyter notebooks to a reasonable size.

In [8]:
# Instead of this
import pandas as pd

file_path = 'iris.csv'
worker_df = pd.read_csv(file_path)
worker_df.head()

for i in list(worker_df.columns):
    print(f'Unique {i}:{worker_df[i].nunique()}')

worker_df.isnull().sum()

worker_df.describe()

worker_df.info()

worker_df['petal.length'] = pd.to_datetime(worker_df['petal.length'])

print(worker_df.info())

print(f"Min Date: {worker_df['petal.length'].min()}")
print(f"Max Date: {worker_df['petal.length'].max()}")

Unique sepal.length:35
Unique sepal.width:23
Unique petal.length:43
Unique petal.width:22
Unique variety:3
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    datetime64[ns]
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 6.0+ KB
None
Min Date: 1970-01-01 00:00:00.000000001
Max Date: 1970-01-01 00:00:00.000000006

- You lose the ability to see what is happening with each step.

In [9]:
# Do this
# read in worker data 
file_path = 'iris.csv'
worker_df = pd.read_csv(file_path)
worker_df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [10]:
# check number of unique values in the dataset
for i in list(worker_df.columns):
    print(f'Unique {i}:{worker_df[i].nunique()}')

Unique sepal.length:35
Unique sepal.width:23
Unique petal.length:43
Unique petal.width:22
Unique variety:3

In [11]:
# checking for null values 
worker_df.isnull().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

This looks better! The code in each cell completes one task and prints out key information to let us know the code worked as expected and to let us see what the data looks like.